/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 10:54:23 AM
    Author     : ssaurabh
*/

.kb_error_field{
    border-color:red !important;
}

.kb_error_message{
     color: red;
     font-weight: 500;
}
div.select2-container {
    width: 100% !important;
}

.graph_lines{
        width:1100px;
        height: 400px;
}
.flot_graph {
    width:1000px;
    height:300px;
}

.filter_inline_div{
        width:auto !important;
}
.filter_inputs{
    width: 100px !important;
    margin-bottom: 0 !important;
    display: inline !important;
    margin-left: 10px !important;
}
.occasion_warning{
    margin-left: 25.5%;
    margin-top: 10px;
    margin-bottom: 0px;
}

/***/
/*CSS for Free Version*/
.vss_demo_block{
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered{
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid{
    float: left;
    position: absolute;
    width: 96.3%;
    top: 250px;
    text-align: center;
    padding: 26px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
}

.vss_overlay_paid_text{
	font-size:18px;
	color:white;
}

.vss_free_version_button{
    color: #FFF;
    background: #f69c55;
    padding: 7px 14px;
    font-size: 13px;
    text-align: center;
}
.vss_free_version_link {
        padding: 4px;
}
.vss_free_version_link:hover{
	text-decoration: none !important;
}

.free-disabled:hover{
    opacity:0.3 !important;
    cursor: not-allowed !important;
    
}

.vss_demo_block1 {
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered1 {
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid1 {
    float: left;
    position: absolute;
    width: 96.3%;
    top: 789px;
    text-align: center;
    padding: 26px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
}

.vss_overlay_paid_text1 {
	font-size:18px;
	color:white;
}

.vss_free_version_button1 {
    color: #FFF;
    background: #f69c55;
    padding: 7px 14px;
    font-size: 13px;
    text-align: center;
}
.vss_free_version_link1 {
        padding: 4px;
}
.vss_free_version_link1:hover{
	text-decoration: none !important;
}
/*************/

.vss_demo_block2 {
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered2 {
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid2 {
    float: left;
    position: absolute;
    width: 96.3%;
    top: 55px;
    text-align: center;
    padding: 26px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
}

.vss_overlay_paid_text2 {
	font-size:18px;
	color:white;
}

.vss_free_version_button2 {
    color: #FFF;
    background: #f69c55;
    padding: 7px 14px;
    font-size: 13px;
    text-align: center;
}
.vss_free_version_link2 {
        padding: 4px;
}
.vss_free_version_link2:hover{
	text-decoration: none !important;
}

/****************/

.vss_demo_block3 {
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered3 {
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid3 {
    float: left;
    position: absolute;
    width: 96.3%;
    top: 55px;
    text-align: center;
    padding: 26px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
}

.vss_overlay_paid_text3 {
	font-size:18px;
	color:white;
}

.vss_free_version_button3 {
    color: #FFF;
    background: #f69c55;
    padding: 7px 14px;
    font-size: 13px;
    text-align: center;
}
.vss_free_version_link3 {
        padding: 4px;
}
.vss_free_version_link3:hover{
	text-decoration: none !important;
}

/*************/

.vss_demo_block4 {
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered4 {
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid4 {
    float: left;
    position: absolute;
    width: 96.3%;
    top: 50px;
    text-align: center;
    padding: 265px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
    z-index:1;
}

.vss_overlay_paid_text4 {
	font-size:18px;
	color:white;
}

.vss_free_version_button4 {
    color: #FFF;
    background: #f69c55;
    padding: 7px 14px;
    font-size: 13px;
    text-align: center;
}
.vss_free_version_link4 {
        padding: 4px;
}
.vss_free_version_link4:hover{
	text-decoration: none !important;
}


/*************/

.vss_demo_block5 {
	width: 100%;
	height: auto;
	opacity: 1;
}

.vss_demo_block_hovered5 {
	cursor: not-allowed;
	opacity: 0.3;	
}

.vss_overlay_paid5 {
/*    float: left;
    position: absolute;
    width: 96.3%;
    top: 50px;
    text-align: center;
    padding: 265px;
    height: auto;
    margin: 0.5%;
    display: none;
    background: rgba(85, 85, 85, 0.529412);
    z-index:1;*/
}

.vss_overlay_paid_text5 {
	font-size:18px;
	color:white;
}

.vss_free_version_button5 {
    color: #FFF;
    background: #f69c55;
    padding: 8px 45px;
    font-size: 16px;
    text-align: center;
}
.vss_free_version_link5 {
        padding: 4px;
}
.vss_free_version_link5:hover{
	text-decoration: none !important;
}